{% extends 'base.html'%}

{% block head %}

{% endblock %}


{% block body %}
<div class="container mt-5">
  <center> 
  <h5>Project By</h5>
    <br>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Jeevan CB</h5>
          <h6 class="card-subtitle mb-2 text-muted">1NH20AI036</h6>
        </div>
      </div>

      <br>
    
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">M Dathri Venkat Reddy</h5>
          <h6 class="card-subtitle mb-2 text-muted">1NH20AI054</h6>
        </div>
      </div>
    </center> 
    
    </div>

<div class="container mt-5">
  <center> 
  <h5>Mentored By</h5>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Soumya HK</h5>
      <h6 class="card-subtitle mb-2 text-muted">Professor, Dept. of AIML</h6>
      <h6 class="card-subtitle mb-2 text-muted">NHCE</h6>
    </div>
  </div>
</center> 
  </center> 
</div>


{% endblock %}